form {
  display: flex;
  //   flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  h2 {
    margin-right: 9px;
    margin-left: 10px;
  }
  .el {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      outline: none;
    }
  }

  button.submit {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    &:focus {
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      outline: none;
    }
    &:hover {
      background-color: #0056b3;
    }
  }
}
.Users {
  .user {
    display: flex;
    align-items: center;
    gap: 20px;
    .userId {
      align-items: center;
      //   margin: 0;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 20px 0;
      font-size: 18px;
      color: #000;
      background-color: #dddedd;
      font-weight: 800;
      width: 56px;
      height: 43px;
      text-align: center;
      padding-top: 8px;
      // padding: 10px 15px;
    }
    .el {
      width: 250px;
      align-items: center;
      margin: 0;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      font-size: 18px;
      color: #111;
      padding: 10px 25px;
    }
    p {
      background-color: #eee;
      border-radius: 5px;
      transition: 0.4s;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    p:hover {
      background-color: #ddd;
      color: #111;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
    button {
      padding: 15px 10px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}
